/*	-------------------------------------------------------------
	University of Nebraska-Lincoln
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Description:	Search forms formating
	Filename:		search.master.css
	Date:			2007-03-06
	-------------------------------------------------------------	*/

/*	-------------------------------------------------------------
	base search forms formating info
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
	
#local_search{
	background: url(/ucomm/templatedependents/templatecss/images/nav_shadow.gif) repeat-y 14px 0;
	}

#localSearchQuery{
	padding-top: 15px;	
	padding-bottom: 1ex;
	}	

#local_search form{
	width: 160px;
	display: inline;
	}

#localSearchQuery-field {
	border:1px solid #999999;
	height:1.5em;
	width:160px;
	display: inline;
	float: left;
	margin-right: 8px;
	margin-left: 6px;
	padding-left: 1px;
	}

#localSearchQuery-field:hover {
	border: 1px solid #ffd900;
	}

#localSearch-Button {
	background-image:url(/ucomm/templatedependents/templatecss/images/system-search.gif);
	background-repeat:no-repeat;
	width:35px;
	height:35px;
	padding-left:5px;
	top: -10px;
	position: relative;
	}

#local_search label.overlabel {
	margin-left: 12px;
	color:#666666;
	padding-top: 2px;
	}

#local_search label.overlabel-apply {
	position: absolute;
	top: 58px;
	left: 24px;
	color:#666666;
	}
	