		.shadow
		{
			width: 100%;
			height: 100%;
			z-index: 100;
			filter: alpha(opacity=60);
			opacity: .6;
			position: fixed;
			top: 0px;
			left: 0px;
			background-color: #666;
			display: none;
		}

		.error
		{
			z-index:101;
			display: none;
			padding: 230px;
			margin: 100 auto;
			width: 500px;
			position: fixed;
			top: 5px;
			left: 5px;
		}

		.errorhead		
		{
			width: 500px;
			background-image: url(../images/dialog_500_header.png);
			background-repeat: no-repeat;
			height: 8px;
		}
		.errorbody		
		{
			width: 470px;
			background: url(../images/dialog_500_body.png) repeat-y;
			padding: 0 15px 0 15px;
			color: #000;
			border: 0px none transparent;
		}

		.errorfoot
		{
			width: 500px;
			background-image: url(../images/dialog_500_footer.png);
			background-repeat: no-repeat;
			height: 20px;
		}

		.errorNV		
		{
			color: #C00;
			display: none;
		}

		.errorBox
		{
			border:3px #c00 solid;
			padding:10px;
			width:100%;
			text-align:center;
			margin: 0 0 20px 0;
			background-color: #FDD;
			display: none;
		}