#maincontent ul.splashnav{list-style:none;padding:0;}
#maincontent ul.splashnav li{background:url(/ucomm/templatedependents/templatecss/images/dott.gif) repeat-x left bottom;padding: 4px 0;line-height:normal;}
#maincontent ul.splashnav li a{padding:0 0 0 8px;background:url(/ucomm/templatedependents/templatecss/images/splash_dott.gif) no-repeat 0 4px;}
a.imagelink, a#leftRandomPromoAnchor, #footer a.imagelink{background:none;}
/* Spry.Effect.js, Adobe, http://labs.adobe.com/technologies/spry/ Spry is available under the BSD license */
/* scrollbar.js Travis Beckham http://www.squidfingers.com/code/dhtml/?id=divscroller No license mentioned on website. We modifided the code added to it to fix things. */
/* slight.js, Aaron Boodman, http://boring.youngpup.net/2001/sleight Creative Commons Attribution 2.0  license. */
/* AjaxExtended, Alex Serebryakov, http://ajaxextended.com/, distributable under MIT license  */
/* zebra.js, David F. Miller, "Zebra Tables" A List Apart #173, http://www.alistapart.com/copyright/  */
/* overLabels.js, Mike Brittain, "Making Compact Forms More Accessible" A List Apart # 229, http://www.alistapart.com/copyright/ */
/* Icons, http://tango.freedesktop.org/, Creative Commons Attribution Share-Alike license.  */
/* Icons, http://www.famfamfam.com/lab/icons/silk/, Creative Commons Attribution 2.5 License  */
/* Icons, http://www.feedicons.com/ */
